/* 3D */
.model-section {
    width: 50%;
}

#canvas-container {
    top: 0;
    width: 100%;
    height: 150%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

canvas {
    display: block;
    width: 100% !important;
    height: 80% !important;
}
 
/* LAYOUT */
body{
    background: linear-gradient(
        to bottom,
        #0F0F3D 20%,
        #1D6494 45%,
        #4F9CF9 100%
        /* #6BDFFF 100% */
    );
    color: white;
    width: 100%;
    padding: 30px 30px 0 30px;
    overflow:hidden;
    height: 100%;
}

.ext-icons {
    /* background-color: aliceblue; */
    position: absolute;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    height: auto;
    z-index: 999;
}

.ext-arrow {
    rotate: 90deg;
    height: 24px;
    width: 24px;
}

.ext-arrow:hover,
.ext-save:hover,
.ext-cart:hover,
.ext-reload:hover {
    opacity: 0.5;
}

.enter-build-name {
    background-color: transparent; 
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    outline: none;
}

.enter-build-name input{
    border: none !important;
    outline: none !important;
    background-color: transparent;
    text-align: center;
    font-size: 1.5rem;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.enter-build-name input:focus{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;  /* Remove any box-shadow on focus */
}

.layout-container {
    padding-top: 1dvh;
    /* height: 71dvh; */
    height: 67dvh;
    display: flex;
    justify-content: space-between;
}

.compatibility-section{
    height: 20dvh;
}

.steps-section,.compatibility-section{
    width: 25%;
    z-index: 1;
}

.steps-section div,
.compatibility-section div {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.compatibility-section div h4{
    text-align: center;
}

/* SLIDE UPWARD WHEN OPEN */
.catalog-wrapper {
    max-height: 50dvh;
    transition: transform 0.5s ease;
    border-radius: 30 30 0 0;
    z-index: 2;
}

/* When "open", move the whole wrapper up */
.catalog-wrapper.open {
    transform: translateY(-100%); /* or -50%, or whatever works */
    background: linear-gradient(
        to bottom,
        rgba(53, 63, 84, 0.6) 0%,   /* #353F54 with 60% opacity */
        rgba(34, 40, 52, 0.6) 100%  /* #222834 with 60% opacity */
    );
    border-radius: 30px 30px 0 0;
}

/* INITIAL POSITIONS */
.component-arrow {
    position: absolute;
    height: 5dvh;
    bottom: 80%;
    transform: rotate(-180deg);
    transition: transform 0.5s ease; /* smooth animation */
}

.component-arrow.rotated {
    transform: rotate(0deg); /* or 180deg depending on desired effect */
}

.component-arrow:hover {
    opacity: .5;
    cursor: pointer;
}

.component-section {
    background: linear-gradient(
        to bottom,
        rgba(53, 63, 84, 0.6) 0%,   /* #353F54 with 60% opacity */
        rgba(34, 40, 52, 0.6) 100%  /* #222834 with 60% opacity */
    );
    transition: transform 0.5s ease; /* smooth animation */
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    gap: 10px;
    position: relative;
    border-radius: 30px 30px 0 0; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.component-button {
    background: linear-gradient(
        to bottom,
        #353F54 0%,
        #222834 100%
    );
    height: 70px;
    border-radius: 12px;
    transition: transform 0.5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
}

.component-button:hover{
    scale: 1.1;
    transition: 0.3s ease;
}

.component-button p {
    text-align: center;
    position: relative;
    top: 70%;
}

.component-button img {
    position: absolute;
    transform: scale(1.5);
    left: 20px;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: none; /* hidden until selected */
    transition: transform 0.5s ease, opacity 0.4s ease;
    transform-origin: center center;
}

.component-active img {
    transform: skewX(15deg) translateX(5%) translateY(-40%) scale(2);
    opacity: 1;
}

.component-active {
    transform: skewX(-15deg) translateY(-10px);
    transition: transform 0.5s ease;
    background: linear-gradient(
        to bottom,
        #34C8E8 30%,
        #4E4AF2 60%
    ) !important;
}

.catalog-section {
    width: 100%;
    background-color: rgba(242, 242, 242, 0.9);
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    max-height: 50dvh;
    overflow-y: scroll;
}

.build-catalog {
    border: 1px solid white;
    border-radius: 4px;
    background-color: white;
    height: 300px;
    box-sizing: border-box;
    padding: 12px;
    margin: 20px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.build-catalog:hover {
    scale: 1.05;
}

.build-catalog img {
    width: 100%;
    height: 100px;
    align-self: center;
    object-fit: contain;
}

.build-catalog button {
    border: 1px solid black;
    width: 100%;
    border-radius: 4px;
}

.build-catalog button:hover {
    background-color: black;
    color: white;
}
.image-container img{
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    padding: 0px 50px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5),
                -2px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.view-specs {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: black;
}

.details {
    width: 50%;
    height: 50%;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);    
}