main {
    display: flex;
}

.section-header {
    margin-bottom: 20px;
}


.form {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.form div {
    width: 100%;
}

.input-label {
    display: flex;
    align-items: center;
}

.input-label label {
    width: 30%;
    height: 24px;
}

.input-label input,
.input-label select {
    height: 24px;
    width: 70% !important;
    font-size: 12px;
    border-radius: 4px;
}

.form-button {
    width: 20%;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    left: 80%;
}

.form-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* TO TRIGGER MODALS */
.modal-button {
    border: 1px solid black;
    padding: 4px 40px;
    border-radius: 4px;
    font-size: 0.75rem;
}

.modal-button:hover {
    background-color: black;
    color: white;
}

/* ORDER */
.order-tab {
    display: flex;
    gap: 4px;
    width: 50%;
}

.order-tab button {
    border: 1px solid black;
    width: 50%;
}

.order-tab button:hover {
    background-color: var(--gray);
}

#orderBuilds.active, #checkOutComponents.active {
    background-color: var(--gray); /* gray-500 */
    color: black;
    border-color: #6b7280;
}